.botao-deletar {
    margin-left: 10px;
    border-color: #dc3545;
    background-color: #dc3545;
}

.botao-editar {
    margin-left: 10px;
    border-color: #1890ff;
    background-color: #1890ff;
}

.div-button-add {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
}
