<nz-layout class="layout">
  <nz-sider class="menu-sidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <img class="logo-navbar" src="../assets/logo-blockbuster.png">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li routerLink="/home" nz-menu-item>
        <i nz-icon nzType="home"></i>
        <span>Home</span>
      </li>

      <li routerLink="/filmes" nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>Filmes</span>
      </li>

    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>

    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>

  </nz-layout>
</nz-layout>